#volume-btn
{
    position: absolute;
    left:74%;
    top:4%;
}

#option
{   
    margin: auto;
    width: 60%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(240, 254, 255);
    

}
#label{
    color:red;
}
#character{
    color: red;
}

